* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Lato", sans-serif;
}

header {
    background-color: rgb(0, 70, 192);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

main {
    margin-bottom: 60px;
}  

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    margin: 0px 20px;
}

nav {
    width: 100%;
    text-align: center;
}

nav a {
    color: white;
    text-decoration: none;
    cursor: pointer;
    margin-right: 50px;
    transition: 300ms;
    border-bottom: 2px solid transparent;
}

nav a:hover {
    border-color: white;
}

h2 {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

table {
    width: 100%;
    max-width: 400px;
    border-collapse: collapse;
}

td {
    padding: 10px;
}

label {
    color:rgb(0, 70, 192);
    font-weight: bold;
    white-space: nowrap;
}

input[type="text"],
input[type="email"],
select,
textarea {
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    display: inline-block;
    padding: 10px 20px;
    background-color:  rgb(0, 70, 192);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    margin-right: 30px;
}

footer {
    align-items: center;
    background-color: black;
    color: white;
    width: 100%;
    text-align: center;
    padding: 10px;
    bottom: 0;
    height: 60px;
    position: fixed;
}

footer a {
    text-decoration: none;
    cursor: pointer;
    margin-right: 10px;
}

.rights {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}